.container {
    margin-left: 26%;
    margin-top: 4%;
    border: solid black 5px;
    position: absolute;
}
.btn-item {
    width: 173px;
    height: 91px;
    font-size: xx-large;
}
.eql-btn {
    height: 182px;
    width: 172px;
    position: absolute;
    font-size: xx-large;
    margin-top: 0px;
    margin-left: 178px;
}
.text-box {
    font-size: 36px;
    height: 83px;
    margin-left: 0px;
    width: 696px;
    background: skyblue;
}
.back-btn {
    width: 354px;
    height: 91px;
    margin-left: 1px;
    font-size: xx-large;
}

body {
    background: aquamarine;
}

button:hover {
    background-color: rgb(228, 56, 56);
}
input:hover {
    background-color: rgb(156, 156, 95);
}